<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
	<bean id="repository" class="my.app.Repository">
		<property name="entity" value="abc"/>
	</bean>
	
	<bean id="service" class="my.app.Service">
		<property name="repository" ref="repository"/>
	</bean>
	
	<bean id="controller" class="my.app.Controller">
		<property name="service" ref="service"></property>
	</bean>
	
</beans>